<%= form_for [transit, resource], html: { remote: true, class: 'transit-form', id: "transit_menu_form" } do |f| %>
    <div class="menu-title">
        <%= f.label :name, t('transit.menus.name') %>
        <%= f.text_field :name %>
        <button type="submit" class="button"><i class='icon-check'></i> <%= t('transit.ui.buttons.save_menu') %></button>
    </div>
    <div id="transit_menu_items" data-item-path="<%= transit.menu_items_path %>">
        <p class='menu-item-help'><%= t('transit.help.menu_items') %></p>
        <ul id="menu_item_list">
            <% resource.items.roots.each do |item| %>
                <%= f.fields_for :items, item do |i| %>
                    <%= render partial: 'item', locals: { i: i, f: f, item: item } %>
                <% end %>
            <% end %>
        </ul>
    </div>
    <div class="actions">
        <button type="submit" class="button"><i class='icon-check'></i> <%= t('transit.ui.buttons.save_menu') %></button>
    </div>
<% end %>