<li <%= %Q{data-item-id="#{item.id}"}.html_safe if item.persisted? %> data-item-key="<%= item.uid %>">
    <div class="item">
        <div class="handle"><i class="icon-arrow-up up"></i><i class="icon-arrow-down dn"></i></div>
        <h5><%= i.text_field :title %></h5>
        <span class="url">
            <%= item.url.to_s %>
            <%= i.hidden_field :url %>
        </span>
        <% if item.persisted? %>
        <%= i.hidden_field :id %>
        <%= i.hidden_field :_destroy, rel: 'remove' %>
        <% end %>
        <%= i.hidden_field :position, rel: "position" %>
        <%= i.hidden_field :parent_id, class: "parent" %>
        <%= i.hidden_field :target %>
        <%= i.hidden_field :page_id %>
        <%= i.hidden_field :temp_parent, rel: "parent", class: "temp-parent" %>
        <%= i.hidden_field :uid %>
        <a href="#" class="remove-item-link">&times;</a>
    </div>
    <% if item.persisted? %>
    <ul class="sub">
        <% item.children.each do |sub| %>
        <%= f.fields_for :items, sub do |ii| %>
        <%= render partial: 'item', locals: { i: ii, f: f, item: sub } %>
        <% end %>
        <% end %>
    </ul>
    <% end %>
</li>