<div id="transit_menus" class="transit-menus">
    <h1>Manage Menus</h1>
    <div class="actions">
        <%= link_to "<i class='icon-plus'></i> New Menu".html_safe, transit.new_menu_path, class: 'button', remote: true %>
    </div>
    <div id="transit_menu_editor">
        <div id="transit_menu_sidebar">
            <div id="transit_menu_select">
                <label> Menu: </label> <%= select_tag "menu_select", options_for_select( collection.collect{ |m| [m.name, m.id] }) %>
            </div>
            <div class="menu-options" id="add_page_item">
                <h4>Pages</h4>
                <ul class="option-list">
                    <% pages.each do |page| %>
                    <%= render partial: 'transit/menus/page', locals: { page: page } %>
                    <% end %>
                </ul>
                <button class="button action-button"><i class='icon-plus'></i> Add to Menu</button>
            </div>
            <div class="menu-options" id="add_custom_item">
                <h4>Custom</h4>
                <label>
                    <span class="title"><%= t('transit.menu_items.url') %></span>
                    <input type="text" name="url" />
                </label>
                <label>
                    <span class="title"><%= t('transit.menu_items.title') %></span>
                    <input type="text" name="title" />
                </label>
                <label>
                    <span class="title"><%= t('transit.menu_items.target') %></span>
                    <select name="target">
                        <option value=""></option>
                        <option value="_self">Same Window</option>
                        <option value="_blank">New Window</option>
                    </select>
                </label>
                <button class="button action-button"><i class='icon-plus'></i> Add to Menu</button>
            </div>
        </div>
        <div id="transit_menu_form_area">
            <%= render partial: 'form', locals: { resource: (defined?(current_menu) ? current_menu : collection.first) } %>
        </div>
    </div>
</div>