<tr id="transit_media_<%= media.id %>">
    <td></td>
    <td><%= media.name %></td>
    <td><%= media.media_type %></td>
    <td><%= number_to_human_size( media.file_size ) %></td>
    <td class="link">
        <%= link_to "Edit", transit.edit_media_path(media), :class => 'edit-link', :title => t('transit.ui.links.medias.edit'), :data => { :toggle => "tooltip" } %>
    </td>
    <td class="link">
        <%= link_to "Delete", transit.media_path(media), :class => 'delete-link', :method => "delete", :title => t('transit.ui.links.medias.delete'), :data => { :confirm => t('transit.ui.confirmations.medias.delete'), :toggle => "tooltip" } %>
    </th>
</tr>