<% 
    fopts = { class: 'transit-form' } 
    fopts.merge!(remote: true) if resource.persisted?
%>
<%= form_for [transit, resource], html: fopts do |f| %>
<ul class='fields cols three-col'>
    <li class="string">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
    </li>
    <li class="string">
        <%= f.label :slug %>
        <%= f.text_field :slug %>
    </li>
    <li class="select">
        <%= f.label :parent_id, t('transit.pages.parent_id') %>
        <%= f.collection_select :parent_id, Transit::Page.order('name ASC').roots, :id, :name, include_blank: "None" %>
    </li>
    <li class="string half">
        <%= f.label :title %>
        <%= f.text_field :title %>
    </li>
    <li class="string half">
        <%= f.label :keywords %>
        <%= f.text_field :keyword_list %>
    </li>
    <li class="text full">
        <%= f.label :description %>
        <%= f.text_area :description, style: "height:80px", maxlength: 100 %>
    </li>
    <li class="select">
        <%= f.label :template %>
        <%= f.select :template, options_for_select( Transit::Page.available_templates.collect{ |t| [t.titleize, t] }, resource.template ) %>
    </li>
    <li class="actions">
        <button type="submit" class="button large btn-large"><i class="icon-check"></i> <%= t('transit.ui.buttons.save_page') %></button>
    </li>
</ul>
<% end %>