<li id="page_<%= page.id %>">
    <span class="title">
        <%= page.name %> <small>[ <%= page.slug %> ]</small>
    </span>
    <div class="links">
        <%= link_to "Edit", transit.page_path(page) %>
        <% unless page.children.any? %>
        <%= link_to "Delete", transit.page_path(page), method: "delete", data: { confirm: "Are you sure you want to delete this page?" } %>
        <% else %>
         <%= link_to "Pages", transit.pages_path(parent: page.id), remote: true %>
        <% end %>
    </div>
    <% if page.children.any? %>
    <div class="sub-pages"></div>
    <% end %>
</li>