<li id="page_<%= page.id %>">
    <span class="title">
        <%= page.name %> <small>[ <%= page.absolute_path %> ]</small>
    </span>
    <div class="links">
        <%= link_to "Edit", transit.page_path(page), :class => 'edit-link', :title => t('transit.ui.links.pages.edit'), :data => { :toggle => "tooltip" } %>
        <% unless page.children.any? %>
        <%= link_to "Delete", transit.page_path(page), :class => 'delete-link', :method => "delete", :title => t('transit.ui.links.pages.delete'), :data => { :confirm => t('transit.ui.confirmations.pages.delete'), :toggle => "tooltip" } %>
        <% else %>
         <%= link_to "Pages", transit.pages_path(:parent => page.id), :class => 'pages-link', :title => t('transit.ui.links.pages.children'), :remote => true, :data => { :toggle => "tooltip" } %>
        <% end %>
    </div>
    <% if page.children.any? %>
    <div class="sub-pages"></div>
    <% end %>
</li>