<form id="mercury_link" class="form-horizontal" style="width:500px">
    <div class="form-inputs mercury-display-pane-container">
        <fieldset id="link_text_container">
            <legend>Properties</legend>
            <div class="control-group string optional">
                <label class="string optional control-label" for="link_text">Link Text</label>
                <div class="controls">
                    <input class="span4 string optional" id="link_text" name="link[text]" size="50" type="text">
                </div>
            </div>
            <div class="control-group select optional">
                <label class="select optional control-label" for="link_target">Opens In</label>
                <div class="controls">
                    <select class="select optional span4" id="link_target" name="link[target]">
                        <option value="">The same window or tab</option>
                        <option value="_blank">A new window or tab</option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Links To</legend>
            <div class="control-group url optional">
                <label class="url optional control-label" for="link_external_url">
                    <input name="link_type" type="radio" value="external_url" checked="checked"/>
                    URL
                </label>
                <div class="controls">
                    <input class="span4 string url optional" id="link_external_url" name="link[external_url]" size="50" type="text">
                </div>
            </div>
            <div class="control-group select optional">
                <label class="select optional control-label" for="link_resource">
                    <input name="link_type" type="radio" value="resource" />
                    Resource
                </label>
                <div class="controls">
                    <select id="link_resource" class="select span4" name="link[resource]">
                        <% Transit::Media.files.each do |file| %>
                        <option value="<%= file.url %>"><%= file.name %></option>
                        <% end %>
                    </select>
                </div>
            </div>
            <div class="control-group select optional">
                <label class="select optional control-label" for="link_page">
                    <input name="link_type" type="radio" value="page" />
                    Existing Page
                </label>
                <div class="controls">
                    <select id="link_page" class="select span4" name="link[page]">
                        <% Transit::Page.all.each do |page| %>
                        <option value="<%= page.absolute_path %>"><%= page.name %></option>
                        <% if page.children.any? %>
                        <% page.children.each do |sub| %>
                        <option value="<%= sub.absolute_path %>"> - <%= sub.name %></option>
                        <% end %>
                        <% end %>
                        <% end %>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-actions mercury-display-controls">
        <input class="btn btn-primary" name="commit" type="submit" value="Insert Link">
    </div>
</form>