<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Edit Page: <%= resource.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />
    <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'transit' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    //<![CDATA[
            window.Mercury = {
              config: {
                toolbars: {
                  primary: {
                    rightSide: {
                      close:               ['Back', 'Go Back'],
                      <% if Transit.config.enable_media -%>
                      mediaLibrary:        ['Library', 'Media Library']
                      <% end -%>
                    },
                    persistance: {
                        save:                  ['Save', 'Save this page'],
                        <% if resource.respond_to?(:deploy!) -%>
                        publish:               ['Publish', 'Publish Changes']
                        <% end -%>
                    },
                    sep:                   '-',
                    editForm:              ['Details', 'Page Details'],
                    preview:               ['Preview', 'Preview this page', { toggle: true, mode: true }],
                    sep1:                  ' ',
                    undoredo:              {
                      undo:                ['Undo', 'Undo your last action'],
                      redo:                ['Redo', 'Redo your last action'],
                      sep:                 ' '
                    },
                    insertLink:            ['Link', 'Insert Link', { modal: "<%= mercury_resource_path('modals', 'link.html') %>", regions: ['basic', 'full', 'markdown'] }],
                    insertMedia:           ['Media', 'Insert Media (images and videos)', { modal: "<%= mercury_resource_path('modals','media.html') %>", regions: ['basic', 'full', 'markdown'] }],
                    <% if Transit.config.enable_snippets -%>
                    snippetPanel:          ['Snippet', 'Snippet Panel', { panel: "<%= snippets_path %>", regions: ['full'] }]
                    <% end -%>
                  },

                  editable: {
                    _regions:              ['basic', 'full', 'markdown'],
                    predefined:            {
                      formatblock:         ['Block Format', null, { select: '<%= mercury_resource_path('selects', 'formatblock.html') %>', preload: true, regions: ['full', 'markdown'] }],
                    },
                    decoration:            {
                      bold:                ['Bold', null, { context: true }],
                      italic:              ['Italicize', null, { context: true }],
                      strikethrough:       ['Strikethrough', null, { context: true, regions: ['basic', 'full'] }],
                      sep:                 '-'
                      },
                    script:                {
                      subscript:           ['Subscript', null, { context: true }],
                      superscript:         ['Superscript', null, { context: true }],
                      sep: '-'
                      },
                    list:                  {
                      _regions:            ["full", "markdown"],
                      insertUnorderedList: ['Unordered List', null, { context: true }],
                      insertOrderedList:   ['Numbered List', null, { context: true }],
                      sep:                 '-'
                      },
                    indent:                {
                      _regions:            ["full", "markdown"],
                      outdent:             ['Decrease Indentation'],
                      indent:              ['Increase Indentation'],
                      sep:                 '-'
                      }, 
                     table:                 {
                        _context:            true,
                        _regions:            ['table'],
                        insertRowBefore:     ['Insert Table Row', 'Insert a table row before the cursor', { regions: ['table'] }],
                        insertRowAfter:      ['Insert Table Row', 'Insert a table row after the cursor', { regions: ['table'] }],
                        deleteRow:           ['Delete Table Row', 'Delete this table row', { regions: ['table'] }],
                        insertColumnBefore:  ['Insert Table Column', 'Insert a table column before the cursor', { regions: ['table'] }],
                        insertColumnAfter:   ['Insert Table Column', 'Insert a table column after the cursor', { regions: ['table'] }],
                        deleteColumn:        ['Delete Table Column', 'Delete this table column', { regions: ['table'] }],
                        sep1:                ' ',
                        increaseColspan:     ['Increase Cell Columns', 'Increase the cells colspan' ],
                        decreaseColspan:     ['Decrease Cell Columns', 'Decrease the cells colspan and add a new cell'],
                        increaseRowspan:     ['Increase Cell Rows', 'Increase the cells rowspan'],
                        decreaseRowspan:     ['Decrease Cell Rows', 'Decrease the cells rowspan and add a new cell'],
                        sep2:                '-'
                    },
                    rules:                 {
                      horizontalRule:      ['Horizontal Rule', 'Insert a horizontal rule', { regions: ['full', 'markdown'] }],
                      sep1:                '-'
                      },
                    formatting:            {
                      removeFormatting:    ['Remove Formatting', 'Remove formatting for the selection', { regions: ['full'] }],
                      sep2:                ' '
                      }
                    },

                  snippets: {
                    _custom:               true,
                    actions:               {
                      editSnippet:         ['Edit Snippet Settings'],
                      sep1:                ' ',
                      removeSnippet:       ['Remove Snippet']
                      }
                    }
                  },
                regions: {
                  attribute: 'data-mercury',
                  identifier: 'id',
                  dataAttributes: []
                  // determineType: function(region){},
                  },

                snippets: {
                  method: 'POST',
                  optionsUrl: '<%= edit_snippet_path(':name') %>',
                  previewUrl: '<%= snippet_path(':name') %>'
                },
                
                uploading: {
                  enabled: true,
                  allowedMimeTypes: ['image/jpeg', 'image/gif', 'image/png'],
                  maxFileSize: 1235242880,
                  inputName: 'image[image]',
                  url: '<%= medias_path %>',
                  handler: false
                  },

               localization: {
                  enabled: false,
                  preferredLocale: 'swedish_chef-BORK'
                  },

               behaviors: {
                  editForm: function(){ Mercury.modal("<%= edit_resource_url(mercury: true) %>", { title: "Page Details", fullHeight: false, minWidth:650, minHeight:385, handler: 'pageDetails' }); },
                  htmlEditor: function() { Mercury.modal('<%= mercury_resource_path('modals', 'htmleditor.html') %>', { title: 'HTML Editor', fullHeight: true, handler: 'htmlEditor' }); },
                  mediaLibrary: function(){ Mercury.modal("<%= mercury_resource_path('modals', 'library.html') %>", { title: "Media Library", minWidth: ( $(window).width() < 900 ? $(window).width() : 900 ), handler: 'mediaLibrary' }); },
                  publish: function(){ Transit.publish(); }
                },

                globalBehaviors: {
                  exit: function() { window.location.href = this.iframeSrc() },
                  barrelRoll: function() { $('body').css({webkitTransform: 'rotate(360deg)'}) }
                },

                csrfSelector: 'meta[name="csrf-token"]',
                csrfHeader: 'X-CSRF-Token',

                editorUrlRegEx: /([http|https]:\/\/.[^\/]*)\/editor\/?(.*)/i,

                nonHijackableClasses: [],

                pasting: {
                  sanitize: 'whitelist',
                  whitelist: {
                    h1:     [],
                    h2:     [],
                    h3:     [],
                    h4:     [],
                    h5:     [],
                    h6:     [],
                    table:  [],
                    thead:  [],
                    tbody:  [],
                    tfoot:  [],
                    tr:     [],
                    th:     ['colspan', 'rowspan'],
                    td:     ['colspan', 'rowspan'],
                    div:    ['class'],
                    span:   ['class'],
                    ul:     [],
                    ol:     [],
                    li:     [],
                    b:      [],
                    strong: [],
                    i:      [],
                    em:     [],
                    u:      [],
                    strike: [],
                    br:     [],
                    p:      [],
                    hr:     [],
                    a:      ['href', 'target', 'title', 'name'],
                    img:    ['src', 'title', 'alt']
                    }
                  },
                injectedStyles: ''  
              },
              silent: true,
              debug: false
            };
    //]]>
    </script>
    <%= javascript_include_tag 'transit' %>
</head>
<body>
    <!-- <iframe id="transit_editor" frameborder="0" src="<%= resource.absolute_path %>"></iframe> -->
    <script type="text/javascript" charset="utf-8">    
    //<![CDATA[
        (function(){
            Transit.configure('root', "<%= transit_root_path %>");
            Transit.editURL = "<%= edit_resource_url %>";
            Transit.editor = new Transit.Editor();
            Transit.editor.loadIframeSrc("<%= resource_url %>");
            Transit.editor.paramName = <%= resource_instance_name.to_s.inspect.html_safe %>;
            <% if resource.respond_to?(:deploy!) %>
            Transit.editor.publishURL = "<%= deploy_page_path(resource) %>";
            <% unless resource.published? %>
            $('div.mercury-publish-button').show();
            <% end %>
            <% end %>
            $(document).on('click', '.mercury-primary-toolbar div.mercury-close-button', function(event){
               window.location.href = "<%= collection_url %>";
            });
        })();
    //]]>
    </script>
</body>
</html>
